<html>
<head>
    <title>Abstimmungstool des Jugendparlaments Pfaffenhofen</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8" />
    <script src="/lib/jquery/dist/jquery.min.js"></script>
    <script src="/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="/lib/jquery-ui-1.12.1/jquery-ui.min.js"></script>
    <script src="/lib/clockpicker-gh-pages/dist/bootstrap-clockpicker.min.js"></script>
    <!-- CSS Sheets-->
    <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/lib/qk/Bootstrap-qk.css">
    <link rel="stylesheet" href="/lib/jquery-ui-1.12.1/jquery-ui.min.css">
    <link rel="stylesheet" href="/lib/clockpicker-gh-pages/dist/bootstrap-clockpicker.min.css">
    <!-- JavaScript Stuff -->
    <script src="/lib/angular/angular.min.js"></script>
	<script src="/lib/angular/angular_de.js"></script>
    <script src="/js/Managment/Main.js"></script>
    
</head>
<body ng-app="App">
    <div>
        @Html.Partial("~/Views/Managment/Navigation.cshtml")
        @RenderBody()
    </div>
</body>
</html>