<div class="container" ng-controller="ConCtrl">

    <div>
        <div class="pull-right">
            <button ng-click="New()" class="btn-qk btn-primary pull-right">+ Neu</button>
        </div>
        <h2>Sitzungen</h2>
    </div>
    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
        <table class="table table-striped" style="width:100%;">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Datum</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="item in confernces |orderBy:'item.Timestamp'|orderBy:'-'" ng-click="SelectItem(item)">
                    <td>{{item.Name}}</td>
                    <td>{{item.Timestamp|date:'short'}}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8" ng-if="selItem != null">
        <form class="form-horizontal">
            <fieldset>
                <a ng-if="selItem.ID != undefined" href="/Managment/Vote?id={{selItem.ID}}"><h3>{{selItem.Name}}</h3></a>
                <h3 ng-if="selItem.ID == undefined">{{selItem.Name}}</h3>
                <div class="form-group">
                    <label class="col-md-4 control-label" for="textinput">Name</label>  
                    <div class="col-md-8">
                        <input ng-model="selItem.Name" placeholder="JugendSitzung" class="form-control-qk" type="text">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-4 control-label" for="textinput">Am</label>  
                    <div class="col-md-8">
                        <input ng-change="RecalcTime()" ng-model="selItem.Date" placeholder="JugendSitzung" class="form-control-qk datepicker" type="text">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-4 control-label" for="textinput">Um</label>
                    <div class="col-md-8">
                        <input ng-change="RecalcTime()" ng-model="selItem.Time" placeholder="08:08Uhr" class="form-control-qk clockpicker" type="text">
                    </div>
                </div>
                <button id="save" class="btn-qk btn-success pull-right" ng-click="Save()">Speichern</button>
            </fieldset>
        </form>
        <div>
            <div ng-repeat="stat in Statisitc">
                <div style="background:#f9f9f9;border-bottom:solid 1px #e3e3e3;border-top:solid 1px #e3e3e3;padding:3px;">
                    <h4>{{stat.Question}}</h5>
                </div>
                <table class="table">
                    <tr ng-repeat="elm in stat.Answers track by $index ">
                        <td ng-repeat="(k,v) in elm" class="col-xs-1 col-sm-1 col-md-1 col-lg-1 text-center" style="border:none;">
                            {{v}}
                        </td>
                        <td ng-repeat="(k,v) in elm" style="border:none;">
                            {{k}}
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>
<script src="/js/Managment/ConferenceController.js"></script>