<div class="container" ng-controller="DashCtrl">
    <h2>Nächste Sitzungen</h2>
    <table class="table table-striped">
        <thead>

        </thead>
        <tbody>
            <tr ng-repeat="con in confernces">
                <td>
                    <a href="/Managment/Vote?id={{con.ID}}">{{con.Name}}</a>
                </td>
                <td>
                    am {{con.Timestamp | date:'EEE MMM.yyyy'}} um {{con.Timestamp | date: 'shortTime'}}
                </td>
            </tr>
        </tbody>
    </table>
</div>
<script src="/js/Managment/DashController.js"></script>