<link rel="stylesheet" href="/css/Navigation.css">
<div class="navbar navbar-custom navbar-static-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/Managment">JugendParlament</a>
    </div>
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li class="active"><a href="/Managment/Confernces">Veranstaltungen</a></li>
        <li class="active"><a href="/Managment/User">Benutzer</a></li>
      </ul>
    </div>
  </div>
</div>