<div class="container" ng-controller="UserCtrl">
    <h2>Benutzer</h2>
    <table class="table table-striped">
        <thead>

        </thead>
    </table>
</div>
<script src="/js/Managment/UserController.js"></script>