<div class="container" ng-controller="VoteCtrl">
    <div>
        <div class="pull-right">
            <button ng-click="NewVote()" class="btn-qk btn-primary">+ Hinzufügen</button>
        </div>
        <h2>Sitzung {{con.Name}}</h2>
        <h4>am {{con.Timestamp | date:'EEE MMM.yyyy'}} um {{con.Timestamp | date: 'shortTime'}} Uhr</h4>
    </div>
    <div style="margin:100px 0 100px 0;" ng-if="newVote != null">
        <h3>Neue Umfrage</h3>
        <div>
            <form class="form-horizontal">
                <div class="form-group">
                    <label class="col-md-4 control-label" for="textinput">Frage</label>  
                    <div class="col-md-8">
                        <input ng-model="newVote.Question" placeholder="Soll dem neuen XY zugewisen werden" class="form-control-qk" type="text">
                    </div>
                </div>
                <div class="form-group" ng-repeat="ans in newVote.Answers track by $index">
                    <label class="col-md-4 control-label" for="textinput">Antwort {{$index}}</label>  
                    <div class="col-md-8">
                        <input ng-model="newVote.Answers[$index]" placeholder="Ja, wenn ..." class="form-control-qk" type="text">
                    </div>
                </div>
                <button class="btn-qk btn-success" ng-click="SaveVote()" id="SaveVote"><i class="glyphicon glyphicon-save"></i> Speichern</button>
                <button class="btn-qk" style="background:#f9f9f9;" ng-click="newVote.Answers.push('')">+</button>
            </form>
        </div>
    </div>
    <div ng-repeat="vote in con.Votes |orderBy: 'vote.Answerd'">
        <div style="background:#f9f9f9;border-bottom:solid 1px #e3e3e3;border-top:solid 1px #e3e3e3;padding:3px;">
            <h4>{{vote.Question}}</h4>
        </div>
        <table class="table">
            <tr ng-repeat="ans in vote.Answers track by $index ">
                <td class="col-xs-1 col-sm-1 col-md-1 col-lg-1 text-center" style="border:none;">
                    <input type="radio" name="{{vote.ID}}" disabled ng-if="vote.Answerd" ng-checked="ans == vote.SelectedAnswer">
                    <input type="radio" value="{{$index}}" name="{{vote.ID}}" ng-if="!vote.Answerd">
                </td>
                <td style="border:none;">
                    {{ans}}
                </td>
            </tr>
        </table>
    </div>
    <button class="btn-qk btn-success" ng-click="SaveVotes()" id="SaveVotes"><i class="glyphicon glyphicon-save"></i> Speichern</button>
</div>
<script src="/js/Managment/VoteController.js"></script>