<html>
<head>
    <title>Login</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta charset="utf-8" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/Login.css">
    <link rel="stylesheet" href="/lib/qk/Bootstrap-qk.css"
</head>
<body>
    <div class="tile">
        <div class="tile-header">
            <img src="/images/Logo-big.png" style="width:100%">
            <!--<h2 style="color: white; opacity: .75; font-size: 4rem; display: flex; justify-content: center; align-items: center; height: 100%;">Login</h2>-->
        </div>
        <div class="tile-body">
            <form id="form" method="POST">
                <label class="form-input">
                    <input type="text" name="UserName" autofocus="true" required />
                    <span class="label">Username</span>
                    <span class="underline"></span>
                </label>

                <label class="form-input">
                    <input type="password" name="Password" required />
                    <span class="label">Passwort</span>
                    <div class="underline"></div>
                </label>

                <div class="submit-container clearfix" style="margin-top: 2rem;">
                    @if(@ViewData["Error"] != null){
                        <label class="float-left " style="color:red">
                                @ViewData["Error"];
                        </label>
                    }                
                    <button class="btn-sm-qk btn-irenic float-right">Einloggen</button>
                </div>
            </form>
        </div>
    </div>
</body>
</html>